

  .div-x-azure{
    position: relative;
    margin-top: 0.87rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 60rem;
    width: 100%;
    color: white;
    z-index: 3;
  }

  .pseudo-volume-controller{
    display: none;
  }

  .xxx-next-prev svg{
    fill: #B2B2B2;
    color: #B2B2B2;
    margin: auto;
  }

  .container-div-scarlet{
    position: absolute;
    width: 100%;
    min-width: 80rem;
  }

  i{
    margin-left: -0rem;
  }

  .xxx-i {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    cursor:pointer;
    color:black;
    background-color: white;
    font-family:Arial;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: all .05s linear;
    outline: none;
  }

  .xxx-next-prev{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    cursor:pointer;
    color:#B2B2B2;
    background-color: transparent;
    font-family:Arial;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: all .05s linear;
    outline: none;
  }

  .active{
    transform: scale(0.90);
  }

  .xxx-i svg{
    fill: black;
    color: black;
    margin: auto;
  }

  .xxx-i i{
    font-size: 1.6rem;
  }