

*{
    margin: 0;
}

html{
    background-color: black;
    overflow-x: hidden;
}

.main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.x-border{
    border-radius: 0.46rem;
}

.sn-div-side{
    height: 7rem;
    min-width: 10rem;
    width: 17.93rem;
    background-color: rgb(18,18,18);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sx-div-side{
    height: 46.4rem;
    min-width: 10rem;
    width: 17.93rem;
    background-color: rgb(18,18,18);
    margin: 0.5rem;
    margin-top: 0rem;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-x-lib-navigate{
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: rgb(194,194,194);
    font-size: 1.4rem;
    transition: color background-color .15s linear;
    margin-left: 6rem;
}

.btn-x-lib-navigate:hover{
    background-color: #837f7f;
    color: white;
}

.sn-div-main{
    min-width: 30rem;
    width: 100.2rem;
    max-width: 100.2rem;
    height: 53.9rem;
    background-color: rgb(18,18,18);
    margin: 0.5rem;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: wrap;
}

.media-player-div{
    background-color: transparent;
    margin: 0.5rem;
    margin-top: -0.5rem;
    width: calc(100% -1rem);
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.media-player-div iframe{
    width: 40rem;
    height: 5rem;
    border-radius: 0.9rem;
    border: none;
    background-color: transparent;
}
spotify-audio{
    width: 25rem;
}


.x-scarlet-input{
    width: 14rem;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(36,36,36);
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
}

.x-scarlet-input::before{
    content: '&#xF0D1;';
}

.media-player-div audio{
    align-self: center;
}

.x-ver-div{
    display: flex;
    flex-direction: column;
}
.iframe{
    width: 20rem;
}

.x-hor-div{
    display: flex;
    flex-direction: row;
}

.x-menu-scarlet{
    margin: 1rem 0 0rem 1rem;
    color: rgb(194,194,194);
    transition: color .15s linear;
    user-select: none;
}
.x-menu-scarlet:hover{
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0rem;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    margin-top: 0.46rem;
    margin-bottom: 0.46rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    max-height: 4rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .x-main-flex-div{
    width: 100.2rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }