


.main-card-div{
    position: relative;
    z-index: 1;
    width: 12rem;
    height: 16.22rem;
    border-radius: 0.4rem;
    background-color: rgb(24,24,24);
    margin:1rem;
    transition: background-color .15s linear;
    user-select: none;
}

.main-card-div:hover{
    background-color: rgb(34,34,34);
}

.main-card-div img{
    border-radius: 0.4rem;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.x-p-title{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10rem;
    margin-left: 1rem;
    overflow: hidden;
}

.x-p-artist{
    color: #c2c2c2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10rem;
    margin: 1rem;
    margin-top: 0.4rem;
    font-size: 0.8rem;
}

.play-btn{
    color: black;
    background-color: rgb(30,215,96);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: -8rem;
    margin-left: 7.5rem; 
    transition: margin-top .25s ease-in;
    
    opacity: 0;
}
.play-btn:hover{
    transform: scale(105%);
}

.main-card-div:hover .play-btn{
    margin-top: -9.5rem;
    opacity: 1;
}

.play-btn i{
    position: relative;
    align-self: center;
    width: 100%;
    text-align: center;
}